[epydoc] # Epydoc section marker (required by ConfigParser)

name:Splatterboard Tool API Reference

modules: colorpicker, dialogs, draw, graphics, gui, PaintingEnvironment, resources, settings, Splatterboard, tool
output: html
css: epydoc.css
target: doc/
docformat: epytext
private: no
sourcecode: no
exclude: pyglet
exclude: pyglet.*
exclude: pyglet.*.*
exclude: math
exclude: os
exclude: sys